* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body.light {
    background-image: linear-gradient(to bottom right, rgb(218, 215, 229), rgb(14, 202, 236));
    
}

body.dark {
    background-image: linear-gradient(to bottom right, rgba(20,20,20,1.0), rgb(118, 104, 12));
    
}

.hide{
    display: none;
}



.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler,
.orientation-toggler {
    position: absolute;
    top: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler {
    left: 80px;
    top: 30px;
}

.orientation-toggler {
  top: 20px;
    left: 30px;
}

.theme-toggler.active,
.orientation-toggler.active {
    color: #333;
}

.theme-toggler.active::before,
.orientation-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before,
.orientation-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 40px;
    margin-bottom: 20px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

/* light theme */

.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #ffd0fb;
    color: #f967f3;
}

.calculator button.btn-equal {
    background-color: #adf9e7;
    color: #000;
}

/* dark theme */

.calculator.dark {
    background-color: #071115;
}

.calculator.dark #display {
    color: #f8fafb;
}

.calculator.dark button#clear {
    background-color: #2d191e;
    color: #bd3740;
}

.calculator.dark button.btn-number {
    background-color: #1b2f38;
    color: #f8fafb;
}

.calculator.dark button.btn-operator {
    background-color: #2e1f39;
    color: #aa00a4;
}

.calculator.dark button.btn-equal {
    background-color: #223323;
    color: #ffffff;
}

/* landscape orientation */

.calculator.landscape {
    display: flex;
    flex-direction:start;
    width: 100%;
    max-width: 800px;
    
}

.calculator.landscape .buttons {
    display: flex;
    /* flex-wrap: wrap; */
}

.calculator.landscape #display {
     max-width: none;
   
    flex: 1;
    width: 450px;

}

.calculator.landscape button#equal {
    height: 135px;
}